*{
    box-sizing: border-box;
}

h1{
    border-style: outset;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(68, 52, 0)
}

button:hover{
    background-color: rgb(117, 90, 0);
}

.container{
    max-width: 1490px;
    margin: auto;
}

.color-acento{ color:rgb(117, 90, 0) }

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
        background-size: cover;
        background-position: center center;
        max-height: 110px;
        max-width: 110px; 
}

.logo img {
    max-height: 110px;
    max-width: 110px; 

}

nav img{
    height: 40px;
    cursor: pointer;
}

nav a{
    margin-top: 5px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(117, 90, 0);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/heroimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
    padding: 90px 200px;
}

#hero button{
    font-size: 1.75em;
}

#nuestros-servicios{
    background-color: white;
    color: white;
    text-align: center;
}

#nuestros-servicios .container{
    padding: 60px 12px;
}

#nuestros-servicios h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-servicios p{
    display: none;
}

#nuestros-servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 40px 0px;
    margin: 70px 30px;
    border-radius: 15px;
}

#contactos button{
    font-size: 5vw;
}
footer{
    background-color: rgb(255, 254, 254);
}

footer{
    background-color: rgb(36, 35, 88);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(255, 255, 255);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: #000000;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #nuestros-servicios .programas{
        display: flex;
        justify-content: center;
    }

    #nuestos-servicios button{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    #nuestros-servicios p{
        display: block;
        margin-top: 30px;
    }

    #nuestros-servicios h2{
        font-size: 4em;
    }

    #nuestros-servicios h3{
        margin-top: -45px;
    }
    
    #nuestros-servicios p{
        display: block;
        margin-bottom: 20px;
        color: #c2c2c2;
    }

    #nuestros-servicios .carta{
        padding: 70px 80px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    #contactos{
        text-shadow: 0 0 20px rgb(19, 20, 19); 
    }

    #contactos .container {
        text-align: center;
    }

    #contactos table{
        margin-left: 800px;
        margin-top: -210px;
        text-align: left;
        color: rgb(255, 255, 255);
    }

    #contactos p{
        margin-left: 1400px;
        margin-top: -140px;
        text-align: left;
        color: rgb(255, 255, 255);
        font-size: 1em;
        
    }

    #contactos a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    #contactos textarea{
        margin-left: 1400px;
        margin-top: 10px;
        text-align: left;
        border-radius: 10px;
        box-shadow: 0 0 20px rgb(19, 20, 19);
    }

    #contactos .logo-final{
        background-image: url("img/image.png");
            background-size: cover;
            background-position: center center;
            height: 300px;
            width: 300px; 
            margin-left: 230px;
            margin-top: 0px;

    }

    #contactos h3{
        font-size: 3em;
        text-align: center;
        margin-bottom: 30px;
    }

    #contactos ul{
        margin-left: 100px;
    }

    #contactos h2{
        font-size: 5em;
        text-align: center;
    }

    #contactos h4{
        font-size: 0.50em;
        margin-left: -5px;
        margin-top: 0px;
    }

    #contactos button{
        margin-left: 1507px;
        margin-top: 10px;
        max-width: 300px;
        max-height: 40px;
        color: rgb(255, 255, 255);
    }


    #contactos button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
        margin-left: 1400px;
        margin-top: -100px;

    }

}

@media (min-width: 1200px) {
    #portafolios{
        background-position-x: calc(100vw - 800px);
    }
}

    @media (min-width: 1200px) {
        #contactos{
            background-position-x: calc(100vw - 800px);
        }
    }